.container {
    width: 70vw; 
    height: 70vh;
    background: left no-repeat url('./assets/bg-pattern-desktop.svg') #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 1.5em;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    box-shadow: -9px 10px 34px -3px rgba(120,120,135,0.75);
    -webkit-box-shadow: -9px 10px 34px -3px rgba(120,120,135,0.75);
    -moz-box-shadow: -9px 10px 34px -3px rgba(120,120,135,0.75);
}

.img-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-container .desktop {
    object-fit: cover;
    position: absolute;
    top: 4em;
    left: -5em;
}

.img-container .mobile {
    visibility: hidden;
}

#box {
    position: absolute;
    top: 45%;
    left: 8vw;
}

.accordion {
    background-color: #FFFFFF;
    color: #646f74;
    padding: 4em;
    width: 100%;
    min-height: 70vh;
    height: fit-content;
    align-self: flex-start;
}

.accordion h1 {
    color: hsl(238, 29%, 16%);
    margin: 0;
    margin-bottom: 1.5em;
}

[data-accordion] {
    margin: 0 auto;
    width: 100%;
}
[data-panel-title] {
    color: hsl(238, 29%, 16%);
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 0;
    background: white;
    border-bottom: 1px solid #edf2f8;
    cursor: pointer;
    transition: border 0.2s, font-weight 0.2s;
}
[data-panel-title]::after {
    display: inline;
    content: url('./assets/icon-arrow-down.svg');
}
[data-panel-title]:hover {
    font-weight: bold;
    color: hsl(14, 88%, 65%);
}

[data-panel-title].expanded {
    font-weight: bold;
}

[data-panel-title].expanded::after {
    content: url('./assets/icon-arrow-down.svg');
    rotate: 180deg;
}
[data-panel-title].disabled {
    background: #f3f6fc;
    color: #99c9ff;
    border: 1px solid #cee4fd;
    cursor: not-allowed;
}
[data-panel-title].disabled::before {
    content: 'x';
}
[data-panel-title].disabled:hover {
    border-bottom: 1px solid #cee4fd;
}
[data-panel-content].folded {
    visibility: hidden;
    height: 0;
    padding: 0;
    font-size: 0;
    transition: height 0.2s, visibility 0.2s, padding 0.2s;
}
[data-panel-content].expanded {
    padding: 1em;
    visibility: visible;
    height: auto;
    padding: 15px 15px 15px 0;
    font-size: .8em;
    border-bottom: 1px solid #edf2f8;
}


@media screen and (max-width: 768px) {
    .container {
    flex-direction: column;
    }

    #box {
        visibility: hidden;
    }
}


@media screen and (max-width: 375px) {
    body {
        padding: 10em 1em 3em 1em;
    }

    .container {
        width: 100%;
        height: 70vh;
        overflow: visible;
        border-radius: 1.5em;
        padding: 2em 1.5em;
        background: top no-repeat url('./assets/bg-pattern-mobile.svg') #FFFFFF;
    }

    .accordion {
        padding: 0;
        min-height: 80%;
        height: fit-content;
        overflow: scroll;
        font-size: 0.9em;
    }

    .accordion h1 {
        text-align: center;
        margin-bottom: 0.7em;
    }

    .img-container {
        height: 500px;
        overflow: visible;
    }

    .img-container .desktop {
        visibility: hidden;
    }

    .img-container .mobile {
        width: 250px;
        visibility: visible;
        position: absolute;
        top: -9.3em;
        left: 0.8em;
    }

}